.boxsh {
  box-shadow: 0px 0px 8px -63px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 0px 8px -63px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 8px -63px rgba(0, 0, 0, 0.05);
}

.swiper {
  margin-top: 20px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px !important;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.mySwiper {
  height: 500px;
}
.recipe-card {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  text-align: start;
  cursor: pointer;
  padding: 8px;
}
.recipe-card:hover {
  background-color: rgba(163, 163, 163, 0.269);
}
.recipe-card h3 {
  color: rgba(255, 105, 180, 0.422);
  font-size: 15px;
}
.recipe-card p {
  font-size: 16px;
}
.recipes h2 {
  font-size: 32px;
}
.recipe-card img {
  width: 100%;
  border-radius: 7px;
  object-fit: cover;
}
.line {
  border: 1px solid rgb(231, 231, 231);
  width: 400px;
  height: 1px;
}

.recipes .header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.recipes {
  text-align: center;
  padding-top: 100px;
}
.content {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: center;
  gap: 10px;
}
section.p {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-content {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  width: 100%;
}
.line {
  border-right: 1px solid grey;
}
.left {
  width: 50%;
  display: flex;
}
.images {
  width: 20%;
  border-radius: 5px;
}
.images {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.image img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.44);
}
.images img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.44);
}
.image {
  width: 80%;
  padding: 20px;
  display: flex;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-content: center;
}

.right h2 {
  font-size: 50px;
}
.title {
  font-size: 16px;
  color: grey;
}
.price {
  font-size: 20px;
  font-weight: 700;
  color: crimson;
}
.p3 {
  font-size: 10px;
}
.cart-button {
  height: 60px;
  width: 60px;
  background-color: cornflowerblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 24px;
  position: fixed;
  top: 100px;
  right: 16px;
  transition: all 0.3s ease-in-out;
}
.cart-button:hover {
  cursor: pointer;
  background-color: rgb(213, 204, 238);
  color: black;
}
.cart-modal {
  height: 600px;
  width: 500px;
  padding: 16px;
  overflow: hidden;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.29);
  position: fixed;
  top: 135px;
  right: 102px;
  transition: all 0.3s ease-in-out;
}
.quantity input {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50px;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantity input:hover {
  cursor: pointer;
  border: 1px solid rgb(213, 204, 238);
  color: rgb(213, 204, 238);
}
.addproduct {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 10px;
}
.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}
.addproduct h3 {
  color: red;
}
.addproduct h2 {
  font-size: 18px;
}
.total {
  position: absolute;
  bottom: 200px;
  right: 16px;
}
.total :nth-child(2) {
  right: 10px;
}
.Delet {
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  background-color: cornflowerblue;
}
